/* font-face */

@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-Bold.woff') format('woff');font-weight:bold;font-style:normal;}
@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-BoldItalic.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-BoldItalic.woff') format('woff');font-weight:bold;font-style:italic;}
@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-Regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-RegularItalic.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-RegularItalic.woff') format('woff');font-weight:normal;font-style:italic;}
@font-face{font-display:swap;font-family:'Sentient';src:url('../fonts/sentient/sentient-regular-webfont.woff2') format('woff2'),url('../fonts/sentient/sentient-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-display:swap;font-family:'Sentient';src:url('../fonts/sentient/sentient-italic-webfont.woff2') format('woff2'),url('../fonts/sentient/sentient-italic-webfont.woff') format('woff');font-weight:normal;font-style:italic;}
@font-face{font-display:swap;font-family:'Sentient';src:url('../fonts/sentient/sentient-light-webfont.woff2') format('woff2'),url('../fonts/sentient/sentient-light-webfont.woff') format('woff');font-weight:300;font-style:normal;}
@font-face{font-display:swap;font-family:'Sentient';src:url('../fonts/sentient/sentient-lightitalic-webfont.woff2') format('woff2'),url('../fonts/sentient/sentient-lightitalic-webfont.woff') format('woff');font-weight:300;font-style:italic;}
@font-face{font-display:swap;font-family:'Sentient';src:url('../fonts/sentient/sentient-medium-webfont.woff2') format('woff2'),url('../fonts/sentient/sentient-medium-webfont.woff') format('woff');font-weight:bold;font-style:normal;}

/* general */

*,*:after,*:before{position:relative;box-sizing:border-box;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button,hr,input,textarea{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
a,button{transition:.25s;cursor:pointer;color:inherit;}
button{border:0;padding:0;background:none;display:inline-block;}
a,a:hover,button,button:hover,*:focus,*:active{text-decoration:none;outline:none;}
body{font-family:var(--font-1);font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:subpixel-antialiased;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
strong{font-weight:bold}
img,svg{vertical-align:bottom;height:auto;max-width:100%}
textarea{resize:none;}
picture{display:block;}
picture img{max-width:100%;width:100%;}
.sprite{display:none;}
.sprite *{stroke-width:1.5;}

/* * */

:root{

  --cubic:cubic-bezier(.305,.045,.355,1);
  --transi:.6s var(--cubic);

  --f1:'Gilroy', Helvetica, sans-serif;
  --f2:'Sentient', serif;

  --bg-1-rgb:10,1,9;
  --bg-1:rgb(var(--bg-1-rgb));
  --bg-2-rgb:15,9,18;
  --bg-2:rgb(var(--bg-2-rgb));
  --bg-3-rgb:28,18,33;
  --bg-3:rgb(var(--bg-3-rgb));

  --color-1-rgb:201,169,130;
  --color-1:rgb(var(--color-1-rgb));
  --color-2-rgb:250,43,129;
  --color-2:rgb(var(--color-2-rgb));
  --color-3-rgb:217,200,180;
  --color-3:rgb(var(--color-3-rgb));

  --color-line:rgba(var(--color-1-rgb),.2);

  --success-rgb:135,192,26;
  --success:rgb(var(--success-rgb));
  --danger-rgb:175,56,56;
  --danger:rgb(var(--danger-rgb));

  --padding:calc(25px + 15 * (100vw - 320px) / 1080);
  --gutter:calc(var(--padding) / 2.2);

  --radius-1:calc(7px + 2 * (100vw - 320px) / 1080);
  --radius-2:calc(15px + 5 * (100vw - 320px) / 1080);
  --radius-3:calc(3px + 1 * (100vw - 320px) / 1080);
  --corner-1:0 var(--radius-1) 0 var(--radius-1);
  --corner-2:var(--radius-1) 0 var(--radius-1) 0;
  --corner-3:0 var(--radius-2) 0 var(--radius-2);
  --corner-4:0 var(--radius-3) 0 var(--radius-3);

  --bs-1:0 10px 20px -5px rgba(0,0,0,.9);
  --bs-2:0 0 15px rgba(var(--color-2-rgb),.2), 0 0 15px rgba(var(--color-2-rgb),.2) inset;

  --marge:calc(20px + 5 * (100vw - 320px) / 1080);

}

/* selection styling */

*::-moz-selection{background-color:rgba(var(--color-2-rgb),.3);color:var(--color-3);text-shadow:0 0 0;}
*::selection{background-color:rgba(var(--color-2-rgb),.3);color:var(--color-3);text-shadow:0 0 0;}

html{font-family:'Gilroy', Helvetica, sans-serif;background:url(../img/bg.jpg) center center;background-size:cover;color:var(--color-3);text-shadow:0 1px 2px rgba(0,0,0,.5);}
body{height:100vh;display:flex;align-items:center;justify-content:center;text-align:center;}

.bn{padding:18px 35px 16px;transition:color var(--transi);border-radius:var(--corner-3);font-size:calc(24px + 6 * (100vw - 320px) / 1080);font-family:var(--f2);color:var(--color-3);background-color:rgba(var(--bg-1-rgb),.8);}
.bn:before, #box-message:before{content:'';transition:border-color var(--transi), box-shadow var(--transi);position:absolute;left:3px;top:3px;border-radius:inherit;border:1px solid var(--color-line);width:calc(100% - 6px);height:calc(100% - 6px);}
.bn:not([disabled]):hover{color:var(--color-2);}
.bn:not([disabled]):hover:before{border-color:var(--color-2);box-shadow:var(--bs-2);}
.bn[disabled]{cursor:default;}
.bn span{display:inline-flex;align-items:center;justify-content:center;}
.bn span img{min-width:calc(22px + 3 * (100vw - 320px) / 1080);margin-right:-4px;display:block;height:calc(20px + 3 * (100vw - 320px) / 1080);width:calc(20px + 3 * (100vw - 320px) / 1080);flex-basis:calc(20px + 3 * (100vw - 320px) / 1080);margin-left:10px;}

#login-btn-spinner{font-size:12px;color:var(--color-1);letter-spacing:1px;flex:1;width:100%;}

.logo{width:calc(250px + 100 * (100vw - 320px) / 1080);margin-bottom:var(--marge);}

#logo-suite{font-family:var(--f2);font-size:var(--marge);font-weight:bold;}

.mess{font-size:calc(14px + 2 * (100vw - 320px) / 1080);color:var(--color-1);margin-top:var(--marge);}
.mess.error{background-color:var(--danger);text-shadow:0 0 0;color:var(--color-3);padding:5px 10px;border-radius:var(--corner-1);}

#box-message{margin-top:var(--marge);max-width:calc(250px + 250 * (100vw - 320px) / 1080);background-color:rgba(var(--bg-1-rgb),.8);border-radius:var(--corner-3);padding:var(--marge);padding-bottom:calc(var(--marge) / 2)}
#box-message .bn{font-size:14px;margin-bottom:calc(var(--marge) / 2)}
#box-message .mess{font-size:13px;color:var(--danger);margin-top:0;}

body .web3modal-modal-lightbox{background-color:rgba(var(--bg-1-rgb),.7);}
body .web3modal-modal-card, body .web3modal-provider-icon{--marge:3px;padding:15px;box-shadow:var(--bs-1);width:calc(100% / var(--n) - var(--gap));margin:calc(var(--gap) / 2);background:linear-gradient(to top, var(--bg-2), var(--bg-3));border-radius:var(--corner-3);}
body .web3modal-modal-card:before, body .web3modal-provider-icon:before{content:'';transition:border-color var(--transi), box-shadow var(--transi);position:absolute;left:var(--marge);top:var(--marge);width:calc(100% - var(--marge) * 2);height:calc(100% - var(--marge) * 2);border-radius:inherit;border:1px solid var(--color-line);z-index:5;pointer-events:none;}
body .web3modal-provider-wrapper{--n:2;--gap:calc(var(--pad) / 4);display:flex;flex-wrap:wrap;margin:calc(var(--gap) * -1);border:0;}
body .web3modal-provider-container{height:100%;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center;transition:box-shadow var(--transi), border-color var(--transi);cursor:pointer;background-color:rgba(var(--bg-1-rgb),.5)!important;border:1px solid transparent;border-radius:var(--corner-1);padding:calc(15px + 5 * (100vw - 320px) / 1080);}
body .web3modal-provider-container:hover{border-color:var(--color-2);box-shadow:var(--bs-2);background-color:rgba(var(--bg-1-rgb),.5)!important;}
body .web3modal-provider-name{font-weight:bold;color:var(--color-3);font-size:calc(18px + 1 * (100vw - 320px) / 1080);}
body .web3modal-provider-description{font-size:calc(12px + 1 * (100vw - 320px) / 1080);margin-top:5px;opacity:.8;}
body .web3modal-provider-icon{--w:calc(60px + 10 * (100vw - 320px) / 1080);border-radius:var(--corner-1);margin-bottom:15px;width:var(--w);height:var(--w);padding:calc(var(--w) / 5);display:flex;align-items:center;justify-content:center;}